.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);

  transition: opacity 500ms $timing-function;

  // уберает скрол
  overflow-y: scroll; 

  z-index: 999;

  @media screen and (max-width: 480px) {
    padding: 93px 15px;
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;

  & .modal {
    transform: translate(0%, 0%) scale(1.2);
    
    @media screen and (min-width: 481px) {
      transform: translate(-50%, -50%) scale(1.2)
    }  
    /*при scale всегда нужно учитывать translate (-50%, -50%)
    в противном случаи окно будет сесжать */
  }
}

.modal { 
  padding-top: 7px;
  
  transform: translate(0%, 0%) scale(1);
  
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 500ms $timing-function;

  @media screen and (max-width: 1199px) {
    max-width: 450px;
    width: 100%;
  }

  @media screen and (min-width: 1200px) {
    max-width: 528px;
    width: 100%;
  }
  
  @media screen and (min-width: 481px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
  
  &__button {
    position: relative;
    display: flex;
    margin-right: 16px;
    margin-bottom: 3px;
    margin-left: auto;
  
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid $icon-color;    
  }

  &__button:hover {
    cursor: $cursor;    
  }

  &__button-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 12px;
    height: 12px;
    fill: #000000;
    
    transition: fill 350ms $timing-function;

    .modal__button:hover & {
      fill: $accent-color;
    }
  }  
}

.form {
  padding: 0px 40px 40px;

  &__call {
    margin-bottom: 30px;

    @media screen and (max-width: 1199px) {
      display: inline-block;
      text-align: center;
    }  
  }

  & label {
    font-size: 14px;
    line-height: 1.71em;
    letter-spacing: 0.01em;
  
    color: $secondary-text-color;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.form__field {
  position: relative;
    
  &:not(:last-child) {
    margin-bottom: 28px;
  }
  
  & input {
    padding: 14px 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border 350ms $timing-function;

    @media screen and (max-width: 1199px) {
      max-width: 370px;
      width: 100%;      
    }    
    
    @media screen and (min-width: 1200px) {
      width: 448px;      
    }  
  }
  
  & label {
    position: absolute;
    top: 50%;
    left: 42px;
    transform: translateY(-50%);
  
    transition: transform 350ms cubic-bezier $timing-function 350ms,
      left 350ms $timing-function,
      color 500ms $timing-function;
  }

  & input:focus + label,
  & input:not(:placeholder-shown)+label {
    left: 18px;
    transform: translateY(-48px);
  
    color: $accent-color;
  
    transition: transform 350ms $timing-function,
      left 350ms $timing-function 350ms,
      color 500ms $timing-function;
  }

  & input:hover + label {
    color: $accent-color;
  }
}

.form__field input:hover {
  border: 1px solid $accent-color;
  cursor: $cursor;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 19px;
  transform: translateY(-50%);

  fill: $primary-text-color;

  transition: fill 350ms $timing-function;

  .form__field input:focus~&,
  .form__field input:hover~& {
    fill: $accent-color;
  }
}

.form__commit {
  position: relative;
  margin-bottom: 20px;
  
  & textarea {
    resize: none;
    
    padding: 12px 16px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border 350ms $timing-function;

    @media screen and (max-width: 1199px) {
      max-width: 370px;
      width: 100%;    
    }

    @media screen and (min-width: 1200px) {
      width: 448px;
    }  
  }

  & textarea:hover {
    border: 1px solid $accent-color;
    cursor: $cursor;
  }

  & label {
    position: absolute;
    top: 12px;
    left: 16px;
  
    transition: transform 350ms $timing-function,
      color 500ms $timing-function;
  }

  & textarea:focus + label,
  & textarea:not(:placeholder-shown) + label {
    transform: translateY(-36px);
  
    color: $accent-color;
  }

  & textarea:hover + label {
    color: $accent-color;
  }
}

.form__checkbox {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 18px;

  &:hover {
    cursor: $cursor;
  }
}

/* Скрываем стандартный чекбокс */
.checkbox {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  white-space: nowrap;
  clip-path: inset(100);
  clip: rect(0 0 0 0);
  overflow: hidden;

  &__icon {
    position: absolute;
    margin-right: 15px;
  
    fill: $primary-white-color;
    border: 2px solid $primary-text-color;
  }

  &__text {
    margin-left: 30px;
    line-height: 24px;
    letter-spacing: 0.03em;
  }

  &__link {
    color: $accent-color;

    @media screen and (max-width: 1199px) {
      display: block;
    }
  }
}

.checkbox:checked + .checkbox__icon {
  border-color: $accent-color;
  background-color: $accent-color;
  background-size: contain;
  background-origin: content-box;
}
