.team {
  &__list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19em;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin: -15px;
    }  
  }

  &__name {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  &__position {
    margin-top: 0px;
    margin-bottom: 16px;

    color: $secondary-text-color;

    font-size: 16px;
    line-height: 1.19em;
  }
}

.team__item {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;

  @media screen and (max-width: 767px) {
    max-width: 450px;    
    margin-bottom: 30px;
    padding-bottom: 24px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 2 * 30px) / 2);
    
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
    
    &:nth-child(4n) {
      margin-right: 0px;
    }
  }
}